<ion-view id="verde" view-title="Status">
    <ion-content>
        <div class="row">
          <div class="col col-center">
                <center><h3>Door is:</h3>
                <h1>OPEN</h1></center>
            </div>
        </div>
        <button id="butao" ng-click="enviarString()" class="button button-outline button-energized animated pulse">CLOSE</button>
        <div class="row">
          <div class="col col-33"><h3>Last Activity:</h3>
                <h2>Today, at 21h 44m</h2></div>
          <div class="col col-33 col-offset-33"><center><h3>Schedule:</h3>
                <h2>ON</h2></center></div>
        </div>
    </ion-content>
</ion-view>
